.books-container {
  display: flex;
  flex-wrap: wrap;
  width: 1100px;
}

.book-container {
  width: 260px;
  margin: 10px;
}

.book-cover-container {
  width: 260px;
  background-color: rgba(0,0,0,0.2);
}

.book-cover-container img {
  object-fit: cover;
}

.book-information {
  width: 100%;
  padding: 20px;
}